@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  background-color: #1e293b;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 2rem;
  padding-right: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swap-icon::after {
  content: url("./assets/swap-svgrepo-com.svg");
  height: 15px;
}
